body{
    background-color: hsl(212, 45%, 89%);
    text-align: center;
}
.card{
    width:20rem;
    border-radius: 1rem;
}
.card-img-top{
    border-radius: 1rem 1rem 0 0;

}
p{
    color: hsl(220, 15%, 55%);
}
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}